@model Experiment


<form method="post" asp-action="Create">
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Add experiment</h2>
        </div>
        <div class="row">
            <div class="col-12">

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Author"></label>
                        <input asp-for="Author" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="ShortDescription"></label> <br />
                        <textarea class="form-control" asp-for="ShortDescription" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Description"></label> <br />
                        <textarea class="form-control" asp-for="Description" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="CageNumber"></label> <br />
                        <input class="form-control" asp-for="CageNumber">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Species"></label> <br />
                        <input type="radio" asp-for="Species" value="Pig" />Pig<br />
                        <input type="radio" asp-for="Species" value="Poultry" />Poultry<br />
                        <input type="radio" asp-for="Species" value="Ruminants" />Ruminants<br />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-1 row">
                        <div class="col-4">
                            <input type="submit" class="btn btn-primary w-75" value="create" />
                        </div>
                        <div class="col-4">
                            <a asp-action="Index" class="btn btn-danger w-75">Back</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>
@section Scripts {
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#Description').summernote({
                height: 250
            });
        });
    </script>
}