@model Experiment
 
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Lista pomiarow ExperymentName</h2>
        </div>
        <div class="col-6">
            <a type="button" class="btn btn-primary" asp-controller="Survey" asp-route-Id="@Model.Id" asp-action="Create">Add survey</a>
        </div>
    </div>
    <br />

    @if (Model!=null)
    {


<table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Data
                    </th>
                   @foreach(var survey in @Model.SurveysList)
                   {
                <th>
                   @survey.SurveyDate
                </th>
                   }
                    
                        
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td width="30%">   </td>

                </tr>

            </tbody>
        </table>
    }
    else
    { <p>Nie przeprowadzono jeszcze pomiarów </p>}
</div>